@model ChangePassword
<style>
    body {
        background-color: #f4f6f9;
        font-family: Arial, sans-serif;
    }
    .change_password-container {
        width: 100%;
        max-width: 400px;
        margin: 150px 0 0 47%;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .change_password-container h2 {
        text-align: center;
        color: #3D8DBC;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .form-control {
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
    }
    .form-control:focus {
        border-color: #3D8DBC;
        box-shadow: 0 0 5px rgba(61, 141, 188, 0.5);
    }

    .btn-change_password {
        background-color: #3D8DBC;
        color: #fff;
        font-weight: bold;
        padding: 12px;
        width: 120px;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s ease;
    }

    .btn-change_password:hover {
        background-color: #337ab7;
    }
    .btn-cancel{
        background-color: #7e7b7b;
        color: #FFF;
        font-weight: bold;
        padding: 12px;
        margin-left: 12px;
        width: 100px;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s ease;
        border-radius: 0;
    }
    .btn-cancel:hover{
        color: #FFF;
        background-color: #585757;
    }
    .text-center a {
        color: #3D8DBC;
        text-decoration: none;
    }
    .text-center a:hover {
        text-decoration: underline;
    }
</style>
<div class="change_password-container">
    <img style="margin-left: 50%; translate: -50%" width="200px" src="~/images//logo.png" />
    <h2>Đổi mật khẩu</h2>
    <form action="~/Account/ChangePassword" method="POST">
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="OldPassword" placeholder="Nhập mật khẩu" value="@Model.OldPassword">
            @Html.ValidationMessage(nameof(Model.OldPassword), new { @style = "color:#f00" })
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="newPassword" name="NewPassword" placeholder="Nhập mật khẩu mới" value="@Model.NewPassword">
            @Html.ValidationMessage(nameof(Model.NewPassword), new { @style = "color:#f00" })
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="verifyPassword" name="ConfirmPassword" placeholder="Xác nhận mật khẩu mới" value="@Model.ConfirmPassword">
            @Html.ValidationMessage(nameof(Model.ConfirmPassword), new { @style = "color:#f00" })
        </div>
        <p style="color: #00a11a; text-align: center">@Model.SuccessMessage</p>
        <div style="display: flex; justify-content: flex-end">
            <button type="submit" class="btn-change_password">Xác nhận</button>
            <a href="/Account/Profile" class="btn btn-cancel">Hủy</a>
        </div>
    </form>
</div>
