@model Customer
<style>
    body {
        background-color: #f4f6f9;
        font-family: Arial, sans-serif;
    }
    .change_password-container {
        width: 100%;
        max-width: 400px;
        margin: 85px 0 0 45%;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        padding: 36px;
        position: relative;
    }

    .change_password-container h2 {
        text-align: center;
        color: #3D8DBC;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .form-control {
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #ddd;
    }
    .form-control:focus {
        border-color: #3D8DBC;
        box-shadow: 0 0 5px rgba(61, 141, 188, 0.5);
    }

    .btn-change_password {
        margin: 12px 0 0 0;
        background-color: #3D8DBC;
        color: #fff;
        font-weight: bold;
        padding: 12px;
        width: 120px;
        height: 44px;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s ease;
        border-radius: 0;
    }

    .btn-change_password:hover {
        color: #FFF;
        text-decoration: none;
        background-color: #337ab7;

    }
    .btn-cancel{
        margin: 12px 0 0 8px;
        background-color: #7e7b7b;
        color: #fff;
        font-weight: bold;
        padding: 12px;
        width: 100px;
        height: 44px;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s ease;
        border-radius: 0;
    }
    .btn-cancel:hover{
        color: #FFF;
        background-color: #585757;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

</style>
<div class="change_password-container">
    <h2>Chỉnh sửa thông tin</h2>
    <form action="~/Account/Save" method="POST">
        <input type="hidden" name="@nameof(Model.CustomerID)" value="@Model.CustomerID" />
        <input type="hidden" name="@nameof(Model.ContactName)" value="@Model.ContactName" />
        <input type="hidden" name="@nameof(Model.Address)" value="@Model.Address" />
        <input type="hidden" name="@nameof(Model.IsLocked)" value="0" />
        <input type="hidden" name="@nameof(Model.Email)" class="form-control" value="@Model.Email" />

        <div class="form-group">
            <label for="name">Họ và tên</label>
            <input style="" type="text" name="@nameof(Model.CustomerName)" class="form-control" value="@Model.CustomerName"/>
            @Html.ValidationMessage("EmptyName", new { @style = "color:#f00" })
        </div>
        <div class="form-group">
            <label>Tỉnh/Thành</label>
            <select class="form-control" name=@nameof(Model.Province)>
                <option value="">-- Chọn tỉnh thành --</option>
                @foreach (var item in SV21T1020001.BusinessLayers.CommonDataService.ListOfProvinces())
                {
                if (item.ProvinceName == Model.Province)
                    {
                        <option value="@item.ProvinceName" selected>@item.ProvinceName</option>
                    }
                    else
                    {
                        <option value="@item.ProvinceName">@item.ProvinceName</option>
                    }
                }

            </select>
            @Html.ValidationMessage("EmptyProvince", new { @style = "color:#f00" })
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" value="@Model.Email" disabled />
        </div>
        <div class="form-group">
            <label for="phone">Điện thoại</label>
            <input type="number" name="@nameof(Model.Phone)" class="form-control" value="@Model.Phone"/>
            @Html.ValidationMessage("EmptyPhone", new { @style = "color:#f00" })
        </div>
        <div style="display: flex; justify-content: flex-end">
            <button type="submit" class="btn btn-change_password"> <i class="bi bi-floppy-fill"></i> Chỉnh sửa</button>
            <a href="/Account/Profile" class="btn btn-cancel">Quay lại</a>
        </div>
    </form>
</div>
